
/*板新*/

img {
	/* display: block; */
	vertical-align: top; /* 解决图片底测有空白缝隙的问题 */
}


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,button {
	border: 0;
	outline: none;  /* 取消轮廓边框 */
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

header {
    height: 80px;
    background-color: #020000;
}

.w-center {
    width: 1190px;
    margin: 0px auto;
}

.q-nav {
    height: 30px;
    line-height: 30px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #ddd;
}

.q-nav li {
    float: left;
}

.mobile {
    position: relative;
}

.mobile img {
    position: absolute;
	left: -10px;
	top: 24px;
	border: 1px solid #ccc;
	padding: 3px;
}

a {
    text-decoration:none; /*取消下划线*/
    font-size: 12px;
    color:#999;
}


/*画小竖线*/
.space {
    width: 1px;
    height: 10px;
    background-color:#ccc;
    margin: 10px 12px 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
  }

.city {
	margin-left: 200px;
}

.iconfont-city {
font-family: "iconfont"!important;
font-size: 12px;
font-style: normal;
color: #f10215;
}

.iconfont-arrow {
    font-family: "iconfont"!important;
    font-size: 12px;
    font-style: normal;
    color: #ccc;
}

.color-f00 {
    color:#f00;
}

a:hover {
	color: #c81623;
}

/*中间部分*/
.middle {
    height: 140px;
    position: relative;
}

.logo {
    position: absolute;
    top:-30px;
    box-shadow: 0px -10px 5px rgba(0,0,0,.3);
}
.logo a {
    height: 170px;
    width: 190px;
    display: block;
    background-image:url(../images/logo.png);
    background-color: #fff;
}

.search {
	width: 550px;
	height: 35px;
	position: absolute;
	top:  25px;
	left: 320px;
}

.search input {
    width: 488px;
    height: 33px;
    border: 1px solid #f10215;
    float: left;
    font-size: 16px;
    padding-left:10px;
}


.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: left;
}

.iconfont-search {
    font-family: "iconfont"!important;
    font-size: 16px;
    font-style: normal;
    color: #fff;
}

.shopping-car {
    width: 180px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top:25px;
    right: 95px;
    background-color: #fff;
    text-align: center;
    color: #f10215;
}

.iconfont-shopcar {
    font-family: "iconfont"!important;
    font-size: 16px;
    font-style: normal;
    color: #f10215;
}
.shopping-car span {
    width: 20px;
    height: 20px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    color:#fff;
    margin-top: 7px;
    margin-left:  6px;
}

.keyword {
    position: absolute;
	top: 68px;
	left: 320px;
}

.nav-items {
    width: 770px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 200px;
	line-height: 40px;
}

.nav-items li {
    float: left;
    margin-left: 30px; 
}

.nav-items li a {
	font-size: 16px;
	font-weight: 700; 
	color: #555;
}

.nav-items li a:hover {
	color: #f10215;
}

.nav-items .space {
	margin:15px -15px 0 15px;
}

.super {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
}

.grid {
    height: 480px;
}

.grid-col-1 {
    position: relative;
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #fff;
    font-size: 14px;  /* 不是给字的，给 /  */
}

.ad {
    position: absolute;
    left: -250px;
}

.ad-r {
    position: absolute;
    top: 0px;
    left: 258px;
    background-image: url(../images/ad-r.jpg);
    z-index: 1000;
    height: 480px;
    width: 0px;
    transition:  all 0.8s;
}

.ad:hover .ad-r {
    width: 900px;
}

.grid-col-1  a{
    color: #fff;
	font-size: 14px;  
	margin: 0 3px;
}

.grid-col-1 ul {
	padding: 10px 0;
}

.grid-col-1 li {
	padding-left: 12px;
	height: 29px;
	line-height: 26px;
}

.grid-col-1 li:hover {
     background-color: #9c9698;
}

.grid-col-2  
{    
    width: 790px;
	height: 100%;
	margin-left: 10px;
}

 .grid-col-2-top  {
    position: relative;
 }
 
 .arrow-l {
    width: 30px;
    height: 60px; 
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 0px;
    background-color: rgba(0,0,0,.3);
    color:white;
    text-align: center;
    line-height: 60px;
    transform:translateY(-50%);
 }

 .arrow-r {
    width: 30px;
    height: 60px; 
    position: absolute;
    font-size: 16px;
    top: 50%;
    right:0px;
    background-color: rgba(0,0,0,.3);
    color:white;
    text-align: center;
    line-height: 60px;
    transform:translateY(-50%);
 }

 .grid-col-2-top ul {
	width: 167px;
	height: 20px;
    background: rgba(255, 255, 255, .3);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 10px;
    padding-left: 8px;
 }

 .grid-col-2-top li {
	width: 12px;
	height: 12px;
	background-color: #fff;
    float: left;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
 }

 .grid-col-2-bottom div {
    float: left;
     margin-top: 10px; 
 }

 .grid-col-2-bottom div:last-child {
    float: right;
    margin-top: 10px;
 }

 .grid-col-3 {
    width: 190px;
	height: 100%;
 }

 .login {
	height: 85px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
 }

 .login-t {
	width: 95px;
    height: 60px;
    position: relative;
    color: #666;
    font-size: 12px;
    
    line-height: 20px;
    white-space: nowrap; /* 强制一行内显示 */
    overflow: hidden;   /* 溢出隐藏 */
	text-overflow: ellipsis; /* 超出的部分显示 省略号 */
	color: #666;
	padding-left: 60px;  /* 这里给padding 把文字挤过来 */
 }

 .user-info {
    width:  50px;
	height: 50px;
    position: absolute;
    left: 0;
	top: 0;
	background: url(../images/sprite_userinfo@1x.png) no-repeat -70px 0;
 }

 .user-info img {
	width: 40px;
	border-radius: 50%;
	margin: 5px;
}
.login-b a {
    display: inline-block;
    width: 70px;
	height: 20px;
    line-height: 20px;
	border: 2px solid #f10215;
	margin-right: 3px;
	text-align: center;
	color: #f10215;
}

.login-b a:hover {
    background-color: #f10215;
    color: #fff;
}

 .news {
    height: 154px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 7px 13px 0;
	box-sizing: border-box;
 }

 .news-t {
    height: 19px;
	border-bottom: 1px solid #ccc;
    position: relative;
 }

 .news-t a {
	float: left;
	height: 17px;
	line-height: 17px;
}

 .xiaoshou {
    width: 38px;
	border-right: 1px solid #ccc;
}

.gonggao {
	margin-left: 15px;
}
.news-t .more {
    float: right;
}
 .news-b {
     margin-top: 15px;
 }
 .news-b a {
     display: block;
     height: 23px;
     line-height: 23px;
 }
 .expand {
    height: 209px;
    background-color: #fff;
    overflow: hidden;
 }

 .expand ul {
	width: 195px; /*  父亲是 190 但是里面的li 宽度超过了190 摆放不开 4个li 此时 让ul 宽度变大 */ 
}

.expand  li {
    float: left;
	width: 47px;
	height: 69px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.expand  li a {
	display: block;
	padding-top: 15px;
	text-align: center;
}

.expand  li i {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: url(../images/sprite_fs@1x.png) no-repeat;
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}

.expand  li:first-child i {
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}


footer {
	margin-top: 35px;
	height: 500px;
	background-color: #EAEAEA;
}

footer a {
	color: #666;
}

.service {
	padding: 30px 0; 
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
}

.service li {
    width: 297px;
	height: 43px;
	position: relative;
	line-height: 43px;
    float: left;
}

.service li h5 {
    position: absolute;
	top: 0;
	left: 38px;
	width: 36px;
	height: 43px;
	background: url(../images/ico.png) no-repeat;
	text-indent: -999em;
}

.service li:nth-child(2) h5 {
    background-position: 0px -43px;
}

.service li:nth-child(3) h5 {
    background-position: 0px -86px;
}

.service li:nth-child(4) h5 {
    background-position: bottom;
}

.service  li p {
	font-weight: 700;
	margin-left: 82px;
}

.help {
    height: 220px;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 25px;
	box-sizing: border-box;
}

.help dl {
    float: left;
    width: 192px;
}

.help  dt {
    height: 30px;
	font-size: 14px;
	color: #666;
}

.help  dd {   
    height: 22px;
}

.cover {
    width: 200px;
	height: 150px;
	background: url(../images/ico_footer.png) no-repeat;
}

.cover h5 {
	padding-left: 35px;
}


.cover p {
	font-size: 12px;
	color: #666;
	line-height: 18px;
	width: 180px;
}

.cover a {
	display: block;
	margin-top: 5px;
	width: 180px;
	text-align: right;
}