
/*板新*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,button {
	border: 0;
	outline: none;  /* 取消轮廓边框 */
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

header {
    height: 80px;
    background-color: #020000;
}

.w-center {
    width: 1190px;
    margin: 0px auto;
}

.q-nav {
    height: 30px;
    line-height: 30px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #ddd;
}

.q-nav li {
    float: left;
}

.mobile {
    position: relative;
}

.mobile img {
    position: absolute;
	left: -10px;
	top: 24px;
	border: 1px solid #ccc;
	padding: 3px;
}

a {
    text-decoration:none; /*取消下划线*/
    font-size: 12px;
    color:#999;
}


/*画小竖线*/
.space {
    width: 1px;
    height: 10px;
    background-color:#ccc;
    margin: 10px 12px 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
  }

.city {
	margin-left: 200px;
}

.iconfont-city {
font-family: "iconfont"!important;
font-size: 12px;
font-style: normal;
color: #f10215;
}

.iconfont-arrow {
    font-family: "iconfont"!important;
    font-size: 12px;
    font-style: normal;
    color: #ccc;
}

.color-f00 {
    color:#f00;
}

a:hover {
	color: #c81623;
}

/*中间部分*/
.middle {
    height: 140px;
    position: relative;
}

.logo {
    position: absolute;
    top:-30px;
    box-shadow: 0px -10px 5px rgba(0,0,0,.3);
}
.logo a {
    height: 170px;
    width: 190px;
    display: block;
    background-image:url(../images/logo.png);
    background-color: #fff;
}

.search {
	width: 550px;
	height: 35px;
	position: absolute;
	top:  25px;
	left: 320px;
}

.search input {
    width: 488px;
    height: 33px;
    border: 1px solid #f10215;
    float: left;
    font-size: 16px;
    padding-left:10px;
}


.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: left;
}

.iconfont-search {
    font-family: "iconfont"!important;
    font-size: 16px;
    font-style: normal;
    color: #fff;
}

.shopping-car {
    width: 180px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top:25px;
    right: 95px;
    background-color: #fff;
    text-align: center;
    color: #f10215;
}

.iconfont-shopcar {
    font-family: "iconfont"!important;
    font-size: 16px;
    font-style: normal;
    color: #f10215;
}
.shopping-car span {
    width: 20px;
    height: 20px;
    background-color: #f10215;
    border-radius: 50%;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    color:#fff;
    margin-top: 7px;
    margin-left:  6px;
}

.keyword {
    position: absolute;
	top: 68px;
	left: 320px;
}

.nav-items {
    width: 770px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 200px;
	line-height: 40px;
}

.nav-items li {
    float: left;
    margin-left: 30px; 
}

.nav-items li a {
	font-size: 16px;
	font-weight: 700; 
	color: #555;
}

.nav-items li a:hover {
	color: #f10215;
}

.nav-items .space {
	margin:15px -15px 0 15px;
}

.super {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
}

.grid {
    height: 480px;
}

.grid-col-1 {
    position: relative;
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #fff;
    font-size: 14px;  /* 不是给字的，给 /  */
}

.ad {
    position: absolute;
    left: -250px;
}

.ad-r {
    position: absolute;
    top: 0px;
    left: 258px;
    background-image: url(../images/ad-r.jpg);
    z-index: 1000;
    height: 480px;
    width: 0px;
    transition:  all 0.8s;
}

.ad:hover .ad-r {
    width: 900px;
}

.grid-col-1  a{
    color: #fff;
	font-size: 14px;  
	margin: 0 3px;
}

.grid-col-1 ul {
	padding: 10px 0;
}

.grid-col-1 li {
	padding-left: 12px;
	height: 29px;
	line-height: 26px;
}

.grid-col-1 li:hover {
     background-color: #9c9698;
}