
/*板新*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,button {
	border: 0;
	outline: none;  /* 取消轮廓边框 */
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

header {
    height: 80px;
    background-color: #020000;
}

.w-center {
    width: 1190px;
    margin: 0px auto;
}

.q-nav {
    height: 30px;
    line-height: 30px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #ddd;
}

.q-nav li {
    float: left;
}

a {
    text-decoration:none; /*取消下划线*/
    font-size: 12px;
    color:#999;
}


/*画小竖线*/
.space {
    width: 1px;
    height: 10px;
    background-color:#ccc;
    margin: 10px 12px 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
  }

.city {
	margin-left: 200px;
}

.iconfont-city {
font-family: "iconfont"!important;
font-size: 12px;
font-style: normal;
color: #f10215;
}

.iconfont-arrow {
    font-family: "iconfont"!important;
    font-size: 12px;
    font-style: normal;
    color: #ccc;
}

.color-f00 {
    color:#f00;
}

ul li a:hover {
	color: #c81623;
}

/*中间部分*/
.middle {
    height: 140px;
    position: relative;
}

.logo {
    position: absolute;
    top:-30px;
    box-shadow: 0px -10px 5px rgba(0,0,0,.3);
}
.logo a {
    height: 170px;
    width: 190px;
    display: block;
    background-image:url(../images/logo.png);
    background-color: #fff;
}

.search {
	width: 550px;
	height: 35px;
	position: absolute;
	top:  25px;
	left: 320px;
}

.search input {
    width: 488px;
    height: 33px;
    border: 1px solid #f10215;
    float: left;
    font-size: 16px;
    padding-left:10px;
}


.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: left;
}

.iconfont-search {
    font-family: "iconfont"!important;
    font-size: 16px;
    font-style: normal;
    color: #fff;
}